.footer{
    margin-top: 20px;
    background-color: rgb(7,7,7);
    padding: 20px 0px;
    text-align: center;
    small{
        font-size: 16px;
        font-family: $mont;
        color: $white;
    }
}