.searchPage{
    padding-top: 100px;
    padding-bottom: 40px;
    &__content{
        margin-top: 20px;
        &-grid{
            margin: 0px -10px;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            @include max-breakpoint(1300){
                grid-template-columns: repeat(5,1fr);
            }
            @include max-breakpoint(1150){
                grid-template-columns: repeat(3,1fr);
            }
            @include max-breakpoint(800){
                grid-template-columns: repeat(2,1fr);
            }
            @include max-breakpoint(451){
                grid-template-columns: 1fr;
            }
        }
        .card{
            margin: 0px 10px;
            &__content{
                min-height: 280px;
                position: relative;
                img{
                    border-radius: 18px;
                }
                &-loading{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: none;
                    &.add{
                        display: block;
                    }
                    .animation{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        .loading{
                            width: 50px;
                            height: 50px;
                            border: 4px solid #d3d3d3;
                            border-top-color: $red;
                            border-radius: 50%;
                            animation: spin 1s linear infinite;
                          }
                          @keyframes spin {
                            to {
                              transform: rotate(360deg);
                            }
                        }
                    }
                }
                &-text{
                    font-family: $mont;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    a{
                        @include fontStyle(12px,$white,normal);
                        transition: all ease-in-out 0.2s;
                        &:hover{
                            color: rgb(238, 58, 88);
                        }
                    }
                }
            }
        }
        min-height: 700px;
        h3{
            font-family: $mont;
            @include fontStyle(18px,$red,normal);
            margin-bottom: 20px;
        }
        &-group{
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $mont;
        }
        &-warn{
            @include fontStyle(18px,$red,normal);
        }
        &-link{
            @include fontStyle(18px,$redHover,normal);
        }
    }
}