.loadingContent{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 997;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1920px;
    background-color: rgb(24, 23, 23);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    transition-delay: 0.2s;
    &.add{
        opacity: 1;
        visibility: visible;
    }
    .loadingAnimate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .groupDot{
            margin-top: 20px;
            display: flex;
            .dot{
                background-color: $green;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 0px 5px;
                animation: loading 0.5s linear infinite;
                &:nth-child(1){
                    animation-delay: 0s;
                }
                &:nth-child(2){
                    animation-delay: 0.1s;
                }
                &:nth-child(3){
                    animation-delay: 0.2s;
                }
                &:nth-child(4){
                    animation-delay: 0.3s;
                }
                &:nth-child(5){
                    animation-delay: 0.4s;
                }
                @keyframes loading {
                    10%{background-color: $red;}
                }
            }
        }
    }
}