@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

img {
  display: block;
  box-sizing: border-box;
  width: 100%; }

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #161616;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 9px; }
  html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: #cccccc; }
  html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #747272; }
  html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background: #555; }
  @media only screen and (max-width: 900px) {
    html, body {
      cursor: pointer; } }

a {
  text-decoration: none;
  cursor: pointer; }

li {
  list-style: none; }

p {
  word-break: break-all; }

hr {
  color: #141414; }

.container {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

button {
  cursor: pointer; }

.wrapper {
  max-width: 1920px;
  margin: auto; }

@media screen and (max-width: 900px) {
  html, body {
    overflow-x: hidden; } }
@media screen and (max-width: 900px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; } }
.header {
  background-color: #070707;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed; }
  .header__content {
    padding: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__content-logo img {
      width: 224px;
      margin-left: -5px; }
      @media only screen and (max-width: 700px) {
        .header__content-logo img {
          margin-left: -5px; } }
    .header__content .subMenu {
      transition: all ease-in-out 0.2s;
      opacity: 0;
      visibility: hidden;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      position: absolute;
      background-color: #070707;
      margin: auto;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 3000; }
      @media only screen and (max-width: 900px) {
        .header__content .subMenu {
          padding-left: 20px;
          padding-right: 20px; } }
    .header__content-sub {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #ffffff;
      font-style: normal;
      margin: 5px 5px;
      transition: all ease-in-out 0.2s; }
      .header__content-sub:hover {
        color: #ee3a58; }
      .header__content-sub.add {
        color: #f38181; }
    .header__content-menu {
      display: flex; }
    .header__content-mega {
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #ffffff;
      font-style: normal;
      transition: all ease-in-out 0.2s;
      text-transform: uppercase; }
      .header__content-mega:hover {
        color: #999999; }
      .header__content-mega.add {
        color: #f38181; }
    .header__content-item {
      cursor: pointer;
      margin-left: 10px; }
      .header__content-item:hover .subMenu {
        opacity: 1;
        visibility: visible; }
    @media only screen and (max-width: 900px) {
      .header__content {
        flex-wrap: wrap;
        padding: 10px 0px; } }
    @media only screen and (max-width: 700px) {
      .header__content-logo {
        flex-basis: 100%; }
      .header__content-home {
        margin-top: 10px; }
      .header__content-item {
        margin-top: 10px; }
      .header__content-sub {
        font-size: 12px;
        margin: 5px 5px; } }
    @media only screen and (max-width: 500px) {
      .header__content .subMenu {
        grid-template-columns: 1fr 1fr; }
      .header__content-sub {
        font-size: 12px;
        margin: 5px 5px; } }

.search__content-warn {
  color: #ec1a1a;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px; }
.search__content form {
  display: flex; }
  .search__content form input {
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 80%;
    border-radius: 18px;
    margin-right: 10px; }
  .search__content form button {
    width: 20%;
    border-radius: 18px;
    outline: none;
    border: none;
    background-color: #e62626;
    font-size: 16px; }
    .search__content form button:hover {
      background-color: #ca1717; }
    @media only screen and (max-width: 350px) {
      .search__content form button {
        font-size: 14px; } }

.footer {
  margin-top: 20px;
  background-color: #070707;
  padding: 20px 0px;
  text-align: center; }
  .footer small {
    font-size: 16px;
    font-family: "Train One", cursive;
    color: #ffffff; }

.banner {
  padding-top: 80px;
  padding-bottom: 40px; }
  .banner__content {
    position: relative; }
    .banner__content-nav {
      position: absolute;
      z-index: 101;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: flex; }
    .banner__content-navBtn {
      cursor: pointer;
      margin: 0px 10px;
      z-index: 105;
      height: 9px;
      width: 30px;
      border: 1px solid #f38181;
      transition: all ease-in-out 0.2s; }
      .banner__content-navBtn.add {
        background-color: #ffffff; }
    .banner__content-next {
      position: absolute;
      top: 50%;
      z-index: 101;
      right: 0;
      transform: translateY(-50%);
      padding: 10px;
      background-color: #f38181;
      font-size: 25px;
      border-radius: 14px 0px 0px 14px;
      cursor: pointer;
      transition: all ease-in-out 0.2s; }
      .banner__content-next:hover {
        background-color: #df3030; }
    .banner__content-back {
      cursor: pointer;
      position: absolute;
      top: 50%;
      z-index: 101;
      left: 0px;
      transform: translateY(-50%);
      background-color: #f38181;
      font-size: 25px;
      padding: 10px;
      border-radius: 0px 14px 14px 0px;
      transition: all ease-in-out 0.2s; }
      .banner__content-back:hover {
        background-color: #df3030; }
    .banner__content-slide {
      display: none;
      position: relative;
      animation: fade;
      animation-duration: 1s; }
      .banner__content-slide::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(43, 42, 42, 0.6); }
      .banner__content-slide.add {
        display: block; }
@keyframes fade {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
    .banner__content-group {
      z-index: 100;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 40%;
      left: 12%;
      font-size: 28px;
      color: #ffffff;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      animation: movee;
      animation-duration: 1s; }
@keyframes movee {
  from {
    opacity: 0.3;
    transform: translateX(-50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
    .banner__content-text {
      font-size: 38px;
      margin-bottom: 20px;
      font-weight: bold; }
    @media only screen and (max-width: 1000px) {
      .banner__content-text {
        font-size: 22px; }
      .banner__content-group {
        font-size: 18px; } }
    @media only screen and (max-width: 600px) {
      .banner__content-group {
        width: 200px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      @keyframes movee {
        from {
          opacity: 0.3; }
        to {
          opacity: 1; } }
      .banner__content-navBtn {
        margin: 0px 5px;
        width: 25px; }
      .banner__content-next {
        font-size: 20px; }
      .banner__content-back {
        font-size: 20px; } }
    @media only screen and (max-width: 400px) {
      .banner__content-group {
        font-size: 14px; }
      .banner__content-text {
        font-size: 16px; }
      .banner__content-navBtn {
        margin: 0px 5px;
        width: 15px; }
      .banner__content-next {
        font-size: 15px; }
      .banner__content-back {
        font-size: 15px; } }

.movie__content, .tv__content, .anime__content, .action__content, .horror__content {
  padding: 30px 0px; }
  .movie__content-title, .tv__content-title, .anime__content-title, .action__content-title, .horror__content-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #f38181;
    font-style: normal; }

.groupCard {
  margin: 0px -10px;
  margin-top: 30px; }
  .groupCard .slick-dots li button:before {
    color: #f38181; }
  .groupCard .slick-track {
    margin-left: 0; }
  .groupCard .card {
    margin: 0px 10px; }
    .groupCard .card__content {
      min-height: 260px;
      position: relative; }
      .groupCard .card__content img {
        border-radius: 18px; }
      .groupCard .card__content-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none; }
        .groupCard .card__content-loading.add {
          display: block; }
        .groupCard .card__content-loading .animation {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .groupCard .card__content-loading .animation .loading {
            width: 50px;
            height: 50px;
            border: 4px solid #d3d3d3;
            border-top-color: #f38181;
            border-radius: 50%;
            animation: spin 1s linear infinite; }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
      .groupCard .card__content-text {
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        margin-bottom: 20px; }
        .groupCard .card__content-text a {
          font-size: 12px;
          color: #ffffff;
          font-style: normal;
          transition: all ease-in-out 0.2s; }
          .groupCard .card__content-text a:hover {
            color: #ee3a58; }

.loadingContent {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 997;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1920px;
  background-color: #181717;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
  transition-delay: 1s; }
  .loadingContent.add {
    opacity: 1;
    visibility: visible; }
  .loadingContent .loadingAnimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .loadingContent .loadingAnimate .groupDot {
      margin-top: 20px;
      display: flex; }
      .loadingContent .loadingAnimate .groupDot .dot {
        background-color: #95e1d3;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0px 5px;
        animation: loading 0.5s linear infinite; }
        .loadingContent .loadingAnimate .groupDot .dot:nth-child(1) {
          animation-delay: 0s; }
        .loadingContent .loadingAnimate .groupDot .dot:nth-child(2) {
          animation-delay: 0.1s; }
        .loadingContent .loadingAnimate .groupDot .dot:nth-child(3) {
          animation-delay: 0.2s; }
        .loadingContent .loadingAnimate .groupDot .dot:nth-child(4) {
          animation-delay: 0.3s; }
        .loadingContent .loadingAnimate .groupDot .dot:nth-child(5) {
          animation-delay: 0.4s; }
@keyframes loading {
  0% {
    background-color: #f38181;
    transform: translateY(-10px); }
  10% {
    transform: translateY(0px); } }
.detailMovie {
  background-position: top;
  background-size: cover;
  position: relative;
  z-index: 101;
  margin-top: 100px; }
  .detailMovie::after {
    content: '';
    background-color: rgba(43, 42, 42, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .detailMovie__content {
    padding: 70px 0px;
    display: flex;
    align-items: center; }
    .detailMovie__content-img {
      border-radius: 18px;
      overflow: hidden;
      width: 20%; }
    .detailMovie__content-date {
      font-weight: bold; }
    .detailMovie__content-time {
      font-weight: bold; }
    .detailMovie__content-text {
      width: 80%;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      margin-left: 40px; }
    .detailMovie__content-ep {
      margin-bottom: 20px;
      font-weight: bold; }
    .detailMovie__content-season {
      font-weight: bold; }
    .detailMovie__content-group {
      display: flex;
      margin-bottom: 20px; }
      .detailMovie__content-group ul {
        margin: 0px 15px;
        display: flex;
        align-items: center; }
        .detailMovie__content-group ul li {
          font-weight: bold;
          margin: 0px 5px; }
    .detailMovie__content-link {
      transition: all ease-in-out 0.2s; }
      .detailMovie__content-link:hover {
        color: #ee3a58; }
    .detailMovie__content-director {
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
      .detailMovie__content-director span {
        font-weight: bold; }
    .detailMovie__content-trailerVote {
      margin-top: 30px;
      margin-bottom: 30px; }
    .detailMovie__content-trailer {
      margin-left: 15px;
      padding: 10px 35px;
      font-weight: bold;
      border-radius: 18px;
      background-color: #f38181;
      cursor: pointer;
      transition: all ease-in-out 0.2s; }
      .detailMovie__content-trailer:hover {
        background-color: #ee3a58; }
    .detailMovie__content-overview {
      margin-top: 20px;
      word-break: normal; }
      .detailMovie__content-overview span {
        font-weight: bold; }
    .detailMovie__content-vote {
      background-color: #ffffff;
      color: #f38181;
      font-weight: bold;
      padding: 10px;
      border-radius: 50%; }
    .detailMovie__content-link {
      color: #f38181; }
    .detailMovie__content-tag {
      font-style: italic; }
    .detailMovie__content-name {
      margin-bottom: 20px;
      font-size: 28px; }
    @media only screen and (max-width: 1100px) {
      .detailMovie__content {
        flex-direction: column; }
        .detailMovie__content-img {
          width: 50%; }
        .detailMovie__content-text {
          margin-top: 30px;
          margin-left: initial;
          width: 100%; } }
    @media only screen and (max-width: 800px) {
      .detailMovie__content {
        flex-direction: column; }
        .detailMovie__content-img {
          width: 60%; }
        .detailMovie__content-group {
          flex-direction: column; }
          .detailMovie__content-group ul {
            margin: initial;
            margin-top: 10px;
            margin-bottom: 10px;
            flex-direction: column;
            align-items: initial; }
            .detailMovie__content-group ul li {
              margin: initial; } }

.actor .warn {
  color: #f38181;
  margin-left: 10px; }
.actor__content, .recommend__content {
  padding: 40px 0px;
  margin: 0 -10px;
  position: relative; }
  .actor__content h3, .recommend__content h3 {
    margin: 0px 10px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #ffffff;
    font-style: normal; }
  .actor__content .slick-dots li button:before, .recommend__content .slick-dots li button:before {
    color: #f38181; }
  .actor__content .slick-track, .recommend__content .slick-track {
    margin-left: 0; }
  .actor__content .card, .recommend__content .card {
    margin: 0px 10px; }
    .actor__content .card__content, .recommend__content .card__content {
      min-height: 260px;
      position: relative; }
      .actor__content .card__content img, .recommend__content .card__content img {
        border-radius: 18px; }
      .actor__content .card__content-loading, .recommend__content .card__content-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none; }
        .actor__content .card__content-loading.add, .recommend__content .card__content-loading.add {
          display: block; }
        .actor__content .card__content-loading .animation, .recommend__content .card__content-loading .animation {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .actor__content .card__content-loading .animation .loading, .recommend__content .card__content-loading .animation .loading {
            width: 50px;
            height: 50px;
            border: 4px solid #d3d3d3;
            border-top-color: #f38181;
            border-radius: 50%;
            animation: spin 1s linear infinite; }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
      .actor__content .card__content-text, .recommend__content .card__content-text {
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        margin-bottom: 20px; }
        .actor__content .card__content-text span, .recommend__content .card__content-text span {
          font-size: 12px;
          color: #ffffff;
          font-style: normal;
          transition: all ease-in-out 0.2s; }

.recommend .warn {
  color: #f38181;
  margin-left: 10px; }
.recommend__content .slick-track {
  margin-left: 0; }
.recommend__content .card {
  margin: 0px 10px; }
  .recommend__content .card__content {
    min-height: 260px;
    position: relative; }
    .recommend__content .card__content img {
      border-radius: 18px; }
    .recommend__content .card__content-loading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none; }
      .recommend__content .card__content-loading.add {
        display: block; }
      .recommend__content .card__content-loading .animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .recommend__content .card__content-loading .animation .loading {
          width: 50px;
          height: 50px;
          border: 4px solid #d3d3d3;
          border-top-color: #f38181;
          border-radius: 50%;
          animation: spin 1s linear infinite; }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
    .recommend__content .card__content-text {
      font-family: "Montserrat", sans-serif;
      margin-top: 10px;
      margin-bottom: 20px; }
      .recommend__content .card__content-text a {
        font-size: 12px;
        color: #ffffff;
        font-style: normal;
        transition: all ease-in-out 0.2s; }
        .recommend__content .card__content-text a:hover {
          color: #ee3a58; }

.modalTrailer .modal {
  background-color: rgba(43, 42, 42, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s; }
  .modalTrailer .modal.add {
    opacity: 1;
    visibility: visible; }
.modalTrailer .no {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1005;
  font-weight: bold;
  font-size: 18px;
  color: #f38181;
  font-style: normal;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation-name: fade;
  animation-duration: 0.2s; }
  .modalTrailer .no.add {
    display: block; }
.modalTrailer .iframe {
  display: none;
  animation-name: fade;
  animation-duration: 0.2s;
  width: 60vw;
  height: 70vh;
  z-index: 1005;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .modalTrailer .iframe.add {
    display: block; }
@keyframes fade {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
  @media only screen and (max-width: 715px) {
    .modalTrailer .iframe {
      height: 60vh; } }
  @media only screen and (max-width: 500px) {
    .modalTrailer .iframe {
      width: 70vw;
      height: 40vh; } }
  @media only screen and (max-width: 400px) {
    .modalTrailer .iframe {
      height: 30vh; } }

.genCard {
  padding-top: 20px;
  padding-bottom: 40px; }
  .genCard h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #f38181;
    font-style: normal;
    font-family: "Montserrat", sans-serif; }
    @media only screen and (max-width: 500px) {
      .genCard h3 {
        flex-basis: 100%; } }
  .genCard .groupGen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    @media only screen and (max-width: 500px) {
      .genCard .groupGen {
        flex-wrap: wrap; } }
  .genCard__lb {
    color: #ffffff;
    margin-right: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-style: normal; }
  .genCard__sl {
    background-color: #ee3a58;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    outline: none;
    border: none;
    appearance: none; }
  .genCard .pagination {
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .genCard .pagination .page-item {
      margin: 0px 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 13px; }
    .genCard .pagination .page-link {
      padding: 5px 8px;
      background-color: #2e2d2d;
      color: #ffffff; }
      .genCard .pagination .page-link:hover {
        color: #f38181; }
      .genCard .pagination .page-link.active {
        color: #f38181; }
    @media only screen and (max-width: 500px) {
      .genCard .pagination .page-item {
        font-size: 10px;
        margin: 0 5px; } }
  .genCard__content {
    min-height: 700px;
    margin: 0px -10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); }
    @media only screen and (max-width: 1300px) {
      .genCard__content {
        grid-template-columns: repeat(5, 1fr); } }
    @media only screen and (max-width: 1150px) {
      .genCard__content {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (max-width: 800px) {
      .genCard__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 451px) {
      .genCard__content {
        grid-template-columns: 1fr; } }
  .genCard .card {
    margin: 0px 10px; }
    .genCard .card__content {
      min-height: 280px;
      position: relative; }
      .genCard .card__content img {
        border-radius: 18px; }
      .genCard .card__content-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none; }
        .genCard .card__content-loading.add {
          display: block; }
        .genCard .card__content-loading .animation {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .genCard .card__content-loading .animation .loading {
            width: 50px;
            height: 50px;
            border: 4px solid #d3d3d3;
            border-top-color: #f38181;
            border-radius: 50%;
            animation: spin 1s linear infinite; }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
      .genCard .card__content-text {
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        margin-bottom: 20px; }
        .genCard .card__content-text a {
          font-size: 12px;
          color: #ffffff;
          font-style: normal;
          transition: all ease-in-out 0.2s; }
          .genCard .card__content-text a:hover {
            color: #ee3a58; }

.searchPage {
  padding-top: 100px;
  padding-bottom: 40px; }
  .searchPage__content {
    margin-top: 20px;
    min-height: 700px; }
    .searchPage__content-grid {
      margin: 0px -10px;
      display: grid;
      grid-template-columns: repeat(6, 1fr); }
      @media only screen and (max-width: 1300px) {
        .searchPage__content-grid {
          grid-template-columns: repeat(5, 1fr); } }
      @media only screen and (max-width: 1150px) {
        .searchPage__content-grid {
          grid-template-columns: repeat(3, 1fr); } }
      @media only screen and (max-width: 800px) {
        .searchPage__content-grid {
          grid-template-columns: repeat(2, 1fr); } }
      @media only screen and (max-width: 451px) {
        .searchPage__content-grid {
          grid-template-columns: 1fr; } }
    .searchPage__content .card {
      margin: 0px 10px; }
      .searchPage__content .card__content {
        min-height: 280px;
        position: relative; }
        .searchPage__content .card__content img {
          border-radius: 18px; }
        .searchPage__content .card__content-loading {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: none; }
          .searchPage__content .card__content-loading.add {
            display: block; }
          .searchPage__content .card__content-loading .animation {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            .searchPage__content .card__content-loading .animation .loading {
              width: 50px;
              height: 50px;
              border: 4px solid #d3d3d3;
              border-top-color: #f38181;
              border-radius: 50%;
              animation: spin 1s linear infinite; }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
        .searchPage__content .card__content-text {
          font-family: "Montserrat", sans-serif;
          margin-top: 10px;
          margin-bottom: 20px; }
          .searchPage__content .card__content-text a {
            font-size: 12px;
            color: #ffffff;
            font-style: normal;
            transition: all ease-in-out 0.2s; }
            .searchPage__content .card__content-text a:hover {
              color: #ee3a58; }
    .searchPage__content h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      color: #f38181;
      font-style: normal;
      margin-bottom: 20px; }
    .searchPage__content-group {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Montserrat", sans-serif; }
    .searchPage__content-warn {
      font-size: 18px;
      color: #f38181;
      font-style: normal; }
    .searchPage__content-link {
      font-size: 18px;
      color: #ee3a58;
      font-style: normal; }

/*# sourceMappingURL=main.css.map */
