@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
$mont: 'Montserrat', sans-serif;
$fre:'Fredericka the Great', cursive;
$kau:'Kaushan Script', cursive;
$new :'Train One', cursive;
$black:rgb(43, 42, 42);
$yellow:#ffe001;
$white:#ffffff;
$hover:#fce38a;
$line:#fce38a;
$red:#f38181;
$grey:#999999;
$green:#95e1d3;
$light:#e5e5e5;
$redHover:rgb(238, 58, 88);